.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  mix-blend-mode: luminosity;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #feadff87;
  background-image: url("../src/assets/images/bgd.avif");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

p {
  margin: 0px;
}

.footer {
  background-color: black;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.navlist {
  height: 10vh;
}

.navlist>ul {
  list-style: none;
  background-color: #d30b7a;
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-fill-available;
  height: 10vh;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.cartshop {
  color: wheat;
  font-size: 2em;
}

.itemListContainer {
  border-radius: 2em;
  color: #d30b7a;
  font-size: 14px;
  width: 95%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.itemMessage {
  color: #d30b7a;
}

.itemListTitle {
  color: #691a37;
  padding: 20px;
}

.itemsList {
  background-color: azure;
  border-radius: 1em;
  width: 20%;
  height: 70vh;
  margin: 20px;
}

.itemsList:hover {
  box-shadow: 0 8px 4px 0 rgb(0 0 0 / 20%);
}

.itemsList--animated {
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.itemCont {
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(0deg, #524f4f, white);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.item {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.cantidad {
  padding: 20px;
  font-size: 2em;
}

.stockAviso {
  padding: 15px;
}

.buttonCart {
  background-color: #d30b7a80 !important;
  border-color: #8c0851 !important;
}

.itemImg {
  width: 60%;
}

.itemText {
  margin-bottom: 0px;
  color: #5a0854;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
}

.itemTittle {
  font-size: 1.3rem;
  color: #5a0835;
  font-weight: 600;
}

.cargador {
  font-size: 2.5em;
  color: #d30b7a;
}

.itemDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 1em;
}

.itemImgContainer {
  width: 50%;
  padding: 20px;
}

.itemDescrip {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.categoriasNav {
  display: flex;
}

.myLink {
  color: #ffffff;
  text-decoration: none;
}

.categoriesContainer {
  display: flex;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  background-color: azure;
  border-radius: 1em;
  width: 20%;
  height: 30vh;
  margin: 20px;
  color: #650038;
}