.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  background-color: black;
  padding: 20px;
  color: white;
  font-size: 20px;
}
.navlist > ul{
  list-style: none;
  background-color: #d30b7a;
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-fill-available;
  height: 10vh;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.cartshop {
  color: wheat;
  font-size: 2em;
}
.itemListContainer{
  background-color: white;
  border-radius: 2em;
  color: #d30b7a;
  font-size: 14px;
  width: 90%;
  padding: 20px;
}
.itemListTitle{
  padding: 20px;
}
.itemCont{
  padding: 20px;
}

.cantidad{
  padding: 20px;
  font-size: 2em;
}
.stockAviso{
  padding: 15px;
}
.buttonCart{
  background-color: #d30b7a80 !important;
    border-color: #8c0851  !important;
}